body {
    font-family: "Baloo Bhai 2", sans-serif;
}

body > div > aside > div.sidebar-wrapper > div:nth-child(2) {
    background: url('./../img/Topographic.svg');
    background-size: cover;
    background-color: #0C3A2D;
}

.sidebar-brand {
    background-color: #476A49;
    height: 100px;
    width: 100%;
}
.navbar {
    background-color: #0C3A2D !important;
}

body > div > nav > div > ul.navbar-nav.text-light > li {
    color: white !important;
}

.hamburger {
    background-color: #FFB902;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.icon-menu {
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.app-header {
    padding: 0;
    height: 65px;
}

.piu-icon{
    max-height: 100%;
}

a.nav-link {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}



.wrap-icon{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-icon > .nav-link {
    padding: 0;
}

.profile-wrap {
    background-color: #FFB902;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-link {
    padding: 0 10px !important;
}

.navbar-nav > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header > .container-fluid {
    height: 100% !important;
}

.container-fluid > ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-menu > .nav-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link > i {
    color: white    ;
}

ul.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.brand-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-side {
    height: 50px !important;
    margin-right: 7px;
}

.online-tag {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    img {
        width: 9px;
    }
    p {
        color: #40FF00;
        margin-left: 4px;
        margin-bottom: 0;
    }
}

.bi-list {
    color: black !important;
}

.dropdown-toggle {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    padding: 0 10px;
}

.profile-wrap {
    padding: 0 10px;
    margin-left: 5px;
}

/* Replace property from adminLTE  */
.navbar-nav > .user-menu .user-image {
    margin-top: 0 !important;
}

.sidebar-wrapper {
    padding: 0;
    margin: 0;
}

.sidebar-menu > .nav-item {
    height: 60px;
}

.sidebar-general {
    padding: 10px 0px;
    justify-content: start !important;
    h2 {
        padding: 0 10px;
        font-size: 30px;
    }
}

.bg-custom-primary {
    background: #FFB902;
}

.active {
    background-color: rgba(255, 255, 255, 0.2);
}
