.data-wrapper-pickup{
    background-color: white;
    height: 78%;
    width: 93%;
    display: flex;
    position: absolute;
    bottom: 35px;
    display: flex;
    flex-direction: column;
}

.header-data-pickup{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
    border-bottom: 3px solid black;
}

.search-section-pickup{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border: 1px solid grey;
    height: 47%;
    width: 28%;
    border-radius: 0px;
    justify-content: flex-start;
    margin-left: 30px;
}

.search-section-pickup input{
    background: transparent;
    height: 100%;
}

.search-section-pickup button {
    background: transparent;
    border: 0;
}

.search-section-pickup img{
    height: 50%;
    padding-right: 20px;
}

.level-section{
    width: 20%;
    height: 47%;
    background-color: #f0f0f0;
}

.level {
    height: 100%;
}

.level button{
    width: 100%;
    gap: 50px;
}

.level button h5{
    font-family: "Be Vietnam Pro", serif;
    font-size: 12px;
    color: #263620;
    opacity: 100%;
    font-weight: normal;
}

.content-wrapper-pickup{
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    height: 68%;
    width: 93%;
    position: relative;
    margin-top: 25%;
    overflow-y: auto;
}

.list-user-pickup {
    width: 35%;
    /* overflow-y: auto; */
}

.side-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
    padding: 5px;
}

.side-user img{
    height: 10%;
    width: 10%;
    margin: 10px;
}

.name{
    font-size: 20px;
    margin: 0;
}

.phone {
    font-size: 15px;
    margin: 0;
}

.detail-profile {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: absolute;
    padding: 15px;
    padding-right: 30px;
    gap: 20px;
    background-color: #476A49;
}

.name-number h2{
    text-align: right;
    font-size: 30px;
    font-family: "Baloo Bhai 2", serif;
    font-weight: bold;
    color: white;
    margin: 0;
}

.name-number h4{
    text-align: right;
    font-size: 15px;
    font-family: "Baloo Bhai 2", serif;
    color: #FFB902;
    margin: 0;
}

.detail-user-pickup{
    width: 65%;
    /* background-color: tan; */
    display: flex;
    justify-content: center;
}

.list-schedule{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: 15%;
    /* background-color: white; */
    width: 100%;
    /* overflow-y: auto; */
    gap: 10px;
    align-items: center;
    padding-top: 18px;
}

.detail-schedule1{
    display: flex;
    flex-direction: row;
    gap: 30%;
    width: 90%;
    height: fit-content;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #C4E477;
}

.detail-schedule{
    display: flex;
    flex-direction: row;
    gap: 30%;
    background-color: #D9D9D9;
    width: 90%;
    height: fit-content;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
}

.date-type h3{
    font-family: "Baloo Bhai 2", serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.status-pickup{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-pickup img{
    height: 30%;
    width: 30%;
}

.status-pickup h2{
    font-family: "Be Vietnam Pro", serif;
    color: black;
    font-size: 17px;
    margin: 0;
}