.user-data-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 40px;
}

.reward-header{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.reward-button-add{
    border : none;
    background-color: #FFB902;
    width: 79px;
    height: 58px;
}

.reward-button-add img{
    width: 60%;

}

.reward-header-text{
    background-color: #FFB902;
    width: 295px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reward-card-img{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: right;
}

.edit-reward{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.edit-reward img{
    width: 90%;
    height: 90%;
}

.container-wrap-reward{
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-wrap-reward h3{
    font-size: 20px;
}

.container-wrap-reward p{
    font-size: 18px;
}

.container-wrap-reward h1{
    font-size: 20px;
    color: #F29912;
}

.reward-cwc{
    width: 100%;
    height: 100%;
    padding-top: 82px;
    align-items: self-start;
}

.reward-card-img img{
    width: 100% !important;
    height: 100% !important;
}

.reward-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}