.bg-login {
    width: 100%;
    height: 100vh !important;
    background: url('./../img/bglogin.png');
    position: absolute;
    z-index: 0;
    overflow: hidden !important;
}

.stack-1 {
    position: absolute;
    right: 0;
    z-index: 3;
    max-height: 130%;
}
.stack-2 {
    position: absolute;
    right: 0;
    max-height: 130%;
}
.stack-3 {
    position: absolute;
    right: 0;
    max-height: 130%;
}

.bottom-logo {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
}
.login-container {
    color: #A1D289 !important;
    width: 50%;
    position: absolute;
    z-index: 99;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-title {
    font-family: "Baloo Bhai 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
    font-weight: 700;
}